*{
    
    color: orange;
    text-align: center;
    font-family: 'Risque';
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/13/07/14/cats-eyes-2944820_1280.jpg);
}

h1{
    font-family: 'Creepster';
    font-size: 100px;
    font-weight: lighter;
}

h2{
    font-family: 'Creepster';
    font-weight: lighter;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
    border-radius: 12%;
}


#food-and-drinks {
    border: 5px transparent;
    margin-top: 190px;
}

.menu-item {
    display: inline-block;
    width: 520px;
    height: 420px;
    margin: 10px;
    border: 5px solid orange;
    text-align: center;
    font-family: 'Risque';
    border-radius: 10%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.menu-item a {
    text-decoration: none;
    color: orange;
}

.menu-item img {
    width: 100%;
}

p {
    font-size: xx-large;
}

.recipe-name {
    font-size: 70px;
}

.drinks-ingredients {
    font-size: 50px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    font-size: xx-large;
}

nav ul{
    display: flex;
    align-items: center;
}

nav>ul>li {
    font-size: 40px;
    margin-right: 99px;
    margin-left: 99px;
}

#date {
    font-size: 50px;
    margin-bottom: 90px;
}

.nav-button {
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
    width: 220px; /* Adjust the width to make the shape more pumpkin-like */
    height: 75px; /* Adjust the height to make the shape more pumpkin-like */
    flex: 1;
}

.nav-button a {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 12px 0; /* Adjust the padding as needed for text alignment */
}

.flexnav {
    display: flex;
}
